



.container{
    display: flex;
    height: 60px;
    /* border: 1px solid; */
    padding: 0;
    margin-top:25px
}
.d-flex{
    /* border: 1px solid */
}
.logo{
    width:140px
}
.btn1{
    height: 51px;
    width: 202px;
    border-radius: 6px;
    background-image: linear-gradient(to right, rgb(107 24 243), rgb(197 85 217));
    color: white;
    font-size: 21px;
}
.filter-div{
    display: flex;
    margin:10px;
    text-align:center
}
#p-1{
    margin-left: 15px;
    height: 47px;
    width: 730px;
   
}
.fnc{
    display: flex;
    /* border:1px solid; */
    width:238px;
    height:51px;
    font-size: 14px;
    padding: 0
}
.icns{
   
    /* border:1px solid; */
 width: 79px
}

#inp-gr > button{
    width:170px;
    background-color:rgb(204, 56, 204)! important;
    color: white;
    font-size:1.5vw;
    
}

#inp-gr{
    width: 725px;
    height: 50px;
    margin-left:15px
}
.ipt{
    text-align: center;
}
.hed{
    display: flex;
    padding:0;
    width: 100%;
}
.hed > div{
/* border: 1px solid; */
margin:25px
}
#ind{
    margin-left:107px;
    font-size:20px
}
.new{
    width: 86%;
    height: 60px;
    background: #f1f1eb;
    margin-left: 105px;
    display:flex;
    margin-top: 25px;
    padding-top:15px
}
.new > div{
    margin-left:45px
}
.cnt1{
    display:flex;
    flex-direction: column;
     height: 770px;
     /* border: 1px solid; */
     width: 87%;
     margin-left: 100px;
 }
 #thrid{
    font-size: 2vw;
    height: 60px;
    /* border: 1px solid; */
    width: 411px;
    margin-left: 25px;
    text-align: center;
    margin-top: 25px;
    font-weight: 500; 
}
 #books{
     display:flex;
     height: 463px;
     /* border: 1px solid */
 }
 #book{
     display:flex;
     flex-wrap: wrap;
     /* border:1px solid; */
      width: 80%;
 }
 .boo{
     font-weight:600;
     font-size:25px
 }
 #book1{
     /* border: 1px solid; */
     width: 320px;
     background: rgb(227 219 216);
 }
 .bks{
    height: 200px;
    width: 312px;
    /* border: 1px solid; */
    margin: 8px;
     background-image: url('../images/books.jpg');
     background-size:cover;
     background-repeat: no-repeat;
 }
 
h4{
    text-align: center;
    font-size:2vw;
    font-weight: 700;
}
 #srn{
     width: 300px;
     margin-top: 64px;
 }
#book2{
    height: 220px;
    width: 100%;
        display:flex;
        flex-wrap: wrap;
        /* border:1px solid; */
         

}
.bks1{
    height: 200px;
    width: 312px;
    /* border: 1px solid; */
    margin: 8px;
    background-image: url('../images/books.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}

p{
    text-align: center;
    color:red;
    margin-top:8px;
    font-size:1.5vw

}
#four-dv{
    height: 350px;
    width: 87%;
    /* border: 1px solid; */
    margin:0 auto
}
#small{
    /* border: 1px solid; */
    font-size: 2vw;
    font-weight: 700;
}
#four-dvs{
    display: flex;
  
}
#four-dvs > div{
height: 250px;
width: 23%;
/* border: 1px solid; */
margin: 20px;
background: 	rgb(230, 230, 230);
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p{
    color:blue;
    font-size: 1.2vw
}
.cnt{
   
    height: 473px;
    /* border: 1px solid; */
    width: 87%;
    margin-left: 100px;
}
.cnt>div{
    /* border: 1px solid */
}
#first, #second{
    font-size: 2vw;
    height: 60px;
    /* border: 1px solid; */
    width: 311px;
    margin-left: 481px;
    text-align: center;
    margin-top: 25px;
    font-weight: 500;
}
#first > div{
    /* border: 1px solid */
}
#second> div{
    /* border: 1px solid */
}
#sec{
    display: flex;
    height: 384px;
    width: auto;
    /* border: 1px solid; */
    text-align: center;
}
.d1{
    height: 383px;
    width: 17%;
    /* border: 1px solid; */
}
#second{
    display: flex;
    
}
#imgs{
    height: 192px;
    margin-top: 5px;
    margin-bottom: 20px;
}
p{
    text-align: center;
    color:red;
    margin-top:8px;
    font-size:1.5vw

}
h6{
    text-align: center;
    font-size: 13px;
    margin: 0 auto;
}
.btt{
    width: 120px;
    height: 35px;
    color:white;
    border-radius: 6px;
    background-image: linear-gradient(to right,rgb(91, 103, 238), #bc82e9);
    margin-top: 15px;
}
#four-divs{
    display: flex;
    position: absolute;
    height: 295px;
    width: 87%;
    margin-left: 99px;
    /* border: 1px solid; */
}
#four-divs>div{
    height: 290px;
    width: 23%;
    /* border: 1px solid; */
    background-size:cover;
    
}
#sums{
background-image:url('sumsung.png')
}
#iph{
background-image: url('iphone.png')
}
#honor{
background-image: url('honor.png')
}
#sony{
    background-image: url('sony.png')
}
#rem{
    background-image: url('rem.jpg')
}
#igr{
    background-image: url('igr.jpg')  ;
    margin-left:34px 
}
#tre{
    background-image: url('tre.jpg') ;
    margin-left:34px
}
#ntb{
    background-image: url('ntb.jpg');
    margin-left: 37px
}
p{
    font-size:2vw
}
h3{
    color:white
    
}
#rem> h3{
    margin-top:40px;
    text-align:center;
   
}
#igr >h3{
    margin-top:40px;
    text-align:center; 
   
}
#tre > h3{
    margin-top:120px;
    text-align:center; 
  
}
#ntb > h3{
    margin-top:230px;
    text-align:center; 
    font-size: 1.5vw
}
footer{
    background: #f2f2f2;
    height: 300px;
    margin-top:360px;
}
#parent1{
    display:flex;
    width: 47%;
    height: 298px;
    padding:35px;
    margin:0 auto
}
.n1{
    width: 30%;
    line-height:2;
    font-weight: 600;
    font-size: 1.1vw;
    color: rgb(90, 90, 90);
    padding-left: 3vw;
}
.n2{
    width: 38%;
    line-height:2;
    font-weight: 600;
    font-size: 1.1vw;
    color: rgb(90, 90, 90);
    padding-left: 2vw;
}

.sp{
    font-weight:700;
    color:black
}
#sect{
    background:rgb(86, 85, 172);
    height: 60px;
    text-align:center;
    color:white;
    font-size:25px;
    padding-top:10px
}

#rem{
    margin-left: 0;
}
img{
    height: 65%;
}
.dropdown-toggle::after{
    display: none !important;
}






