.device_section{
    height:350px;
    width:300px;
    border:1px solid red;
}
.button_description{

    background: linear-gradient(90deg, #5A64E0 0%, #BC21D8 106.25%);
    border:none;
    outline:none;

}
.product_charact button{

    margin-top:30px;
    margin-bottom: 0;

}
.price_section{
    display:flex;
    justify-content:right;
}
.price_section>h2{
    color:red
}
.price-section-border{
    height:350px;
    width:350px;
    border:2px solid  #5A64E0
}
.price_button_section{
    display:flex;
    justify-content:right;
}

@media screen and (max-width: 768px){
    .product_fitures{
        padding:unset !important
    }
}
@media screen and (max-width: 576px){

    .section {
        padding:unset !important
    }
    .flex_container{
        flex-direction:column !important;
    }
    .flex_container>div{
        width:100%;
    }
    .price-section-border{
        height:100% !important;
        width:100% !important;
        border:2px solid  #5A64E0
    }
}

